@media(prefers-color-scheme: dark) {
    body {
      background: #404040;
      color: #d8dee9;
    }

    a {
      color: PowderBlue;
    }

    .nick {
        color: #ebf2f9;
    }

    .mine .line {
        color: #a6acb9;
        font-style: italic;
    }

  }

@media(prefers-color-scheme: light) {
    body {
      background: #ffffff;
      color: #2d2d2d;
    }

    a {
      color: grey;
    }

    .mine .line {
        font-style: italic;
        color: grey;
    }

  }

  body {
    font: normal 15px Source Sans Pro,sans-serif;
    overflow-x: hidden; /* Hide horizontal scrollbar */
    padding-right: 10px;
}

img {
    padding: 5px;
}

.thumb {
    max-height: 200px;
    border-radius: 10%;
}

.nick {
    text-align: left;
    font-weight: bold;
}

.messages {
    position: relative;
    left: 0px;
    top: 0px;
    padding: 15px;
    padding-bottom: 5px;
}

.avatar {
    position: absolute;
    top: 16px;
    left: 3px;
    cursor: pointer;
    font-size: 18px;
    display: flex;
    align-content: center;
    text-align: center;
}

.avatar span {
    font-size: 1em;
    color: white;
    border-radius: 50%;
    height: 2em;
    width: 2em;
    line-height: 2em;
    font-weight: 500;
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.3);
}

.nick {
    position: relative;
    top: 0px;
    left: 30px;
    font-weight: 600;
}

.line {
    position: relative;
    left: 30px;
    top: 3px;
    font-size: 1em;
    font-weight: 400;
    padding-bottom: 0.1em;
}

.date {
    color: #848b95;
    font-size: 0.6em;
    margin-left: 10px;
    font-weight: normal;
}

.response {
    background: linear-gradient(to right, rgba(0,0,0,.1) 60%, rgba(0,0,0,0));
    color: #ec5f66;
    font-weight: 600;
}

.action {
    font-size: 0.6em;
    padding-top: .1em;
    padding-bottom: .1em;
}

.action-text {
    padding-top: .1em;
    padding-bottom: .1em;
    text-align: right;
}